// Body
$body-color: #2f2f2f ;

$theme-colors: (
    "primary": #006eff,
    "secondary": #00FF6E,
    "accent-1": #2f2f2f,
    "accent-2": #797a7a,
);

// Typography
$font-family-sans-serif: 'Archivo Black', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$grid-gutter-width: 24px;
