// Fonts
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(255, 255, 255, .8);
}

.navbar-custom .navbar-toggler {
    color: white;
    border: none;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(225, 225, 225)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.main {
    min-height: calc(100vh - 56px);
}

.header-img {
    position: fixed;
    object-fit: cover;
    display: block;
    z-index: -100;
    top: 0;
}

.header-img:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(60deg, rgba(theme-color('primary'), .5) 0%, rgba(theme-color('secondary'), .7) 100%);
}

.center-img {
    position: fixed;
    min-width: 1920px;
    width: 100%;
    right: 0;
}

.main-content {
    background-color: $body-bg;
    min-height: 400px;
}

.badge-top {
    position: absolute;
    top: -.5rem;
    bottom: auto;
    z-index: 100;
}

.card {
    @include border-radius(.625rem);
    margin-bottom: 1.5rem;
}

.card-img-top {
    @include border-radius(calc(.625rem - 1px) calc(.625rem - 1px) 0 0);
}

.team-img {
    object-fit: cover;
    display: block;
    top: 0;
}

.team-img:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(130deg, rgba(theme-color('primary'), .4) 0%, rgba(theme-color('secondary'), .5) 100%);
}

.card-text p {
    margin-bottom: 0;
}

.footer-custom {
    background-color: $body-bg;
}

.hover:hover i {
    background: linear-gradient(90deg, theme-color('primary'), theme-color('secondary'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
