@import "../../../node_modules/vuetify/src/styles/tools/functions";
@import "../../../node_modules/vuetify/src/styles/settings/colors";
@import "../../../node_modules/vuetify/src/styles/settings/variables";

$body-font-family: 'Montserrat', sans-serif;

$toolbar-content-padding-x: 0;

$material-light: () !default;
$material-light: map-deep-merge(
    (
        'states': (
            'activated': 0.24,
        ),
    ),
    $material-light
);

$stepper-step-step-icon-font-size: map-deep-get($headings, 'subtitle-1', 'size');

$chip-group-content-padding: 0;
$text-field-details-margin-bottom: 0;

$list-group-no-action-item-padding: 64px;

$tooltip-padding: 2px 8px;

$list-dense-content-padding: 4px 0;

$time-picker-title-btn-height: 56px;

$time-picker-title-color: currentColor;
